<!-- <p>{{inicio.navabout}}</p> -->

<h1 class="display-3">"Proyecto Universitario sin fines lucrativos UAA"</h1>

<div class="about">

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../assets/img/laMaguis.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Claudia Margarita Sandoval Chavez</h5>
          <p class="card-text">La mamá de los pollitos y la que manda en el grupo (O al menos eso cree). Una persona con
            mucho valor y potencial a la hora de liderar</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../assets/img/elSergio.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Sergio Enrique Galvan Barrios</h5>
          <p class="card-text">¿Que puedo decir de el? es todo un papucho y un crack en todo lo que hace</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../assets/img/elManu.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Josue Emmanuel Uranga Calzada</h5>
          <p class="card-text">Loki, el dios de las mentiras. Todo un capo es una persona muy sociable aunque un poco
            introvertido, si necesitas un abrazo manu siempre esta disponible</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../assets/img/elAlan.jpeg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Alan Axel Escobar Calzada</h5>
          <p class="card-text">El demond en cualquier juego que toca, no cabe duda que en su vida secreta es streamer
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../assets/img/elLalo.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Eduardo</h5>
          <p class="card-text">Apenas se incorporó, pero nos caes bien. A toda madre un desmadre, feliz navidad</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../assets/img/io.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Jose Angel Flores Esparza</h5>
          <p class="card-text">El detallista y escrupuloso del grupo. Ni te darás cuenta, pero siempre te está cuidando
            desde las sombras</p>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="preguntas pl-5" style="margin:20px; display: flex; flex-direction: column; gap: 15px; align-items: center;">
	<h1>Preguntas Frecuentes</h1>
	<h2>¿Tienen validez en todo México?</h2>
	<p>Así es, nuestro servicio se presta para la reserva y compra de boletos en toda la república mexicana.</p>
	<h2>¿Se pueden presentar devoluciones?</h2>
	<p>Se pueden hacer devoluciones si éstas se presentan mínimo 2 días antes de que se presente una función</p>
	<h2>¿Por qué su slogan es en inglés?</h2>
	<p>Por que es más cool.</p>
	<h2>¿Esto es un proyecto escolar?</h2>
	<p>En efecto. Lo mencionamos en el footer</p>
</div>

<div class="d-flex justify-content-center mt-5">
  <div class="card p-4" style="max-width: 540px;">
    <app-contacto-f></app-contacto-f>
  </div>
</div>

<br>
<br>

<div class="d-flex justify-content-center mt-5">
  <h1>Trailer del día:</h1>
</div>

<div class="d-flex justify-content-center">
  <app-qr></app-qr>
</div>