.display-3,
.card,
.map-container {
  margin: 20px;
}

.display-3 {
  text-align: center;
}
.card-text,
.card-title {
  color: #000 !important;
}

.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}