<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <h1 class="mx-4">Buscar Component</h1>
      <div class="input-group">
        <input
          class="mx-2 form-control"
          type="text"
          placeholder="Escribe el nombre de una película"
          [(ngModel)]="query"
          name="query"
        />
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" (click)="buscar()">Buscar</button>
        </div>
      </div>
      <div class="col-sm-12 mt-3">
        <app-buscar-hijo></app-buscar-hijo>
      </div>
      <div *ngIf="loading" class="mt-3">
        <mat-progress-bar mode="determinate" [value]="calcularProgreso()"></mat-progress-bar>
      </div>
      <div *ngIf="resultados.length > 0">
        <h2 class="mt-3">Resultados de búsqueda:</h2>
        <div class="row">
          <div class="col-md-4 mb-4" *ngFor="let pelicula of resultados">
            <div class="card h-100">
              <img src="{{ pelicula.imagen }}" class="card-img-top imagen-pelicula" alt="{{ pelicula.nombre }}">
              <div class="card-body">
                <h5 class="card-title">{{ pelicula.nombre }}</h5>
                <p class="card-text">{{ pelicula.descripcion }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="resultados.length === 0 && busquedaRealizada">
        <p>No se encontraron resultados para "{{ query }}"</p>
      </div>
    </div>
  </div>
</div>
